
        <div class="header">
            <h1>Блог Алексея</h1>
          <h2>Здесь вы можете читать записи о железе, например sim-900, STM-32 и т.д.
</h2>
    </div>

        <div class="content">
            
<% if @posts.empty? %>
                
            <h2 align="center" class="content-subhead">Нет записей</h2>
                
<% else %>

            <h2 align="center" class="content-subhead">Недавние записи</h2>
				<% @posts.each do |post| %>
            <h2 class="content-subhead"><%= link_to post.title, post %></h2>
            <h4>
            <% if post.category_id==(-1) %>
                            <p>Без категории</p>
                            <% else %>
                            <p>
                            <%= link_to post.category.title+" категория", post.category, :class => ""%> 
                            </p>
                      <% end %>
                    </h4>
            <p><%= post.body.html_safe %></p>

            
												<%= link_to "Читать запись", post, :class => "pure-button " %>
                        <%if post.comment_threads.size>0%>
                        <%= link_to "Комментарии ("+post.comment_threads.size.to_s+")", post_path(post, :anchor => "comments"), :class => "pure-button" %>
                        <% else %>
                        <%= link_to "Написать комментарий", post_path(post, :anchor => "comments"), :class => "pure-button" %>
                        <%end%>  
                        <% if admin? %>
                        
											  <%= link_to "Редактировать", edit_post_path(post), :class => "pure-button "%>
											  <%= link_to "Удалить", post, :method => :delete, :confirm => "Вы уверены?", :class => "pure-button pure-button-error"%>
											
												<% end %> 
<hr />
<% end %>

<% end %>


<div><%= will_paginate @posts %></div>

            
 

            
