
        <div class="header">
            <h1><%= @title%></h1>
         
    </div>

       
<div class="pure-g">
        <div class="pure-u-1-5">
            
            <p style="margin-left:20px;"> <%= link_to root_path do%>
        	Блог
        <%end%>
		->
        <%= link_to category_path(@post.category) do%>
        	<%= @post.category.title%>
        <%end%>
        -><%= @post.title %>
    </p>
        </div>

        <div class="pure-u-3-5">
            <p><%= @post.body.html_safe %></p>

			<% if admin? %>
    		<%= link_to(edit_post_path(@post), :class => "btn btn-success", :style => " width:33%") do %>
            <i class="glyphicon glyphicon-edit"></i> Редактировать
            <% end %>
            <%= link_to(@post, :class => "btn btn-danger", :method => :delete, :confirm => "Вы уверены?", :style => " width:33%" ) do %>
                <i class="glyphicon glyphicon-trash"></i> Удалить
            <% end %>
<% end %>


<div class="well"> 
                     

          <h4 align="center" class="block share-style">Поделиться
            <div class="g-plusone"></div>
         <div class="share42init" data-zero-counter="0" style="margin-top:5;"></div>
         <script type="text/javascript">
  window.___gcfg = {lang: 'ru'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
          </h4>
        </div>






<div class="block w100 comments_block" name="comments" id="comments" align="left">
<legend class="w100" style="margin-top:-20" align="center"><h3><i class="glyphicon glyphicon-comment"></i> Комментарии</h3></legend>
<% if current_user %>
<%= render :partial => 'comments/form'%>
<% end %>
<%= render :partial => 'comments/comment', :collection => @comments, :as => :comment%>
           <!--
            <div class="media">
                 <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
                <div class="media-body">
                    <h4 class="media-heading">
                        Nested media heading
                    </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    <div class="media">
                         <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Nested media heading
                            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        </div>
                    </div>
                </div>
            </div>
            -->
</div> 
        </div>

        <div class="pure-u-1-5">
            
        </div>
</div>
