
<div class="col-sm-12 col-md-9">
   
<ul class="breadcrumb block" style="padding:10">
        <li>
        <%= link_to root_path do%>
        	<i class="glyphicon glyphicon-home"></i> Блог
        <%end%>
		</li>
        <li>
        	
        <%= link_to category_path(@post.category) do%>
        	<i class="glyphicon glyphicon-th-list"></i> <%= @post.category.title%>
        <%end%>
        </li>
        <li class="active">

        	<i class="glyphicon glyphicon-file"></i> <%= @post.title %>
        </li>
      </ul>
<div align="center">
        <div class="block w100">
         <legend class="w100" style="margin-bottom:-10; margin-top:-15"><h3><%= @post.title %></h3></legend>
                    <div class="post-big-description" align="left">
                        <p>
                            <%= @post.body.html_safe %>
                        </p>
                    </div>

    <% if admin? %>
    <%= link_to(edit_post_path(@post), :class => "btn btn-success", :style => " width:33%") do %>
            <i class="glyphicon glyphicon-edit"></i> Редактировать
            <% end %>
            <%= link_to(@post, :class => "btn btn-danger", :method => :delete, :confirm => "Вы уверены?", :style => " width:33%" ) do %>
                <i class="glyphicon glyphicon-trash"></i> Удалить
            <% end %>

<% end %> 


      </div> 
</div>
</div>
<div class="col-sm-12 col-md-3">
<div id="sharebar" class="affix">
          <h4 align="center" class="block share-style">Поделиться
            <div class="g-plusone"></div>
         <div class="share42init" data-zero-counter="0" style="margin-top:5;"></div>
         <script type="text/javascript">
  window.___gcfg = {lang: 'ru'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
          </h4>
        </div> </div>

<div class="col-sm-12 col-md-9">
<div class="block w100 comments_block" name="comments" id="comments" align="left">
<legend class="w100" style="margin-top:-20" align="center"><h3><i class="glyphicon glyphicon-comment"></i> Комментарии</h3></legend>
<% if current_user %>
<%= render :partial => 'comments/form'%>
<% end %>
<%= render :partial => 'comments/comment', :collection => @comments, :as => :comment%>
           <!--
            <div class="media">
                 <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
                <div class="media-body">
                    <h4 class="media-heading">
                        Nested media heading
                    </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    <div class="media">
                         <a href="#" class="pull-left"><img src="http://lorempixel.com/64/64/" class="media-object" alt='' /></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Nested media heading
                            </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        </div>
                    </div>
                </div>
            </div>
            -->
</div> 
 </div>

</div>

<script src="/js/wysihtml5-0.3.0.min.js"></script>
<script src="/js/bootstrap3-wysihtml5.js"></script>
<!--<script src="/js/jquery.autosize.min.js"></script>-->
<script>

    $('.w').wysihtml5({
                "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
                "emphasis": true, //Italics, bold, etc. Default true
                "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                "link": true, //Button to insert a link. Default true
                "image": false, //Button to insert an image. Default true,
            });
    //$('.w').autosize();
</script>