<div class="pull-right">
<%- if user_signed_in? %>
  

    <h4><%= current_user.email %></h4><br />
<ul class="button-group round">
<li><%= link_to 'Выйти - Sign out', destroy_user_session_path, :method => :delete, :class => "button success"  %></li>
    <%- if is_blogger? %>
      <%= link_to 'Новая запись', new_post_path, :class => "button primary" %>
    <%- end %>
</ul>
<%- else %>
<ul class="button-group round">
 	<li><%= link_to 'Register', new_user_registration_path, :class => "btn btn-success"%></li>
    <li><%= link_to 'Войти', new_user_session_path, :class => "btn btn-warning"%></li>
</ul>   
<%- end %>
</div>